# Counting words with loop for and while

#### Piece of text we will train on

In [1]:
text="I said what I said because I meant what I said when I said what I said. He kept running and running and running until running was all he knew. The more you think! about what you think, the more you think you thought the right thing."

In [2]:
import re

In [3]:
#define function
def count_words (txt):
    """
    this function counts
    each unique word in
    given piece of text (txt)
    """
    txt=txt.lower()                 # Convert text to lowercase so that 'Word' and 'word' are treated the same
    txt=re.sub(r'[,"!./]','',txt)   # Remove punctuation marks to clean the input
    txt=txt.split()                 # split the text into individual words
    words=[]                 # in this list we will store our unique words
    for word in txt:
        if not word in words:   # check if word was already counted
            words.append(word)  # add this word to list so it will not be repeated
            result=print(f"{word} appears in given text", txt.count(word),"times")
    return result

### It is time to test function

In [4]:
count_words(text)

i appears in given text 6 times
said appears in given text 5 times
what appears in given text 4 times
because appears in given text 1 times
meant appears in given text 1 times
when appears in given text 1 times
he appears in given text 2 times
kept appears in given text 1 times
running appears in given text 4 times
and appears in given text 2 times
until appears in given text 1 times
was appears in given text 1 times
all appears in given text 1 times
knew appears in given text 1 times
the appears in given text 3 times
more appears in given text 2 times
you appears in given text 4 times
think appears in given text 3 times
about appears in given text 1 times
thought appears in given text 1 times
right appears in given text 1 times
thing appears in given text 1 times

**There is a lot of noise from word which appear more than one time. It is good idea to remove them**

In [5]:
def count_words_excl1 (txt):
    """
    this function counts only the 
    words that appear more than 
    once in the given text (txt)
    """
    txt=txt.lower()                 # Convert text to lowercase so that 'Word' and 'word' are treated the same
    txt=re.sub(r'[,"!./]','',txt)   # Remove punctuation marks to clean the input
    txt=txt.split()                 # split the text into individual words
    checked_words=[]                # List to track already processed words
    for word in txt:
         if not word in checked_words: # Skip words that have already been processed
             count=txt.count(word)
             if count > 1:             #Only include words that appear more than once
                print(f"{word} appears in given text {count}times")
                checked_words.append(word)

In [6]:
count_words_excl1(text)

i appears in given text 6times
said appears in given text 5times
what appears in given text 4times
he appears in given text 2times
running appears in given text 4times
and appears in given text 2times
the appears in given text 3times
more appears in given text 2times
you appears in given text 4times
think appears in given text 3times

# Creating table from list of dictionaries in pandas

In [8]:
import pandas as pd

In [9]:
NBA_teams=[{'id': 1610612737,'full_name': 'Atlanta Hawks','abbreviation': 'ATL','nickname': 'Hawks','city': 'Atlanta','state': 'Atlanta','year_founded': 1949},
 {'id': 1610612738,'full_name': 'Boston Celtics','abbreviation': 'BOS','nickname': 'Celtics','city': 'Boston','state': 'Massachusetts','year_founded': 1946},
 {'id': 1610612739,'full_name': 'Cleveland Cavaliers','abbreviation': 'CLE','nickname': 'Cavaliers','city': 'Cleveland','state': 'Ohio','year_founded': 1970},
 {'id': 1610612740,'full_name': 'New Orleans Pelicans','abbreviation': 'NOP','nickname': 'Pelicans','city': 'New Orleans','state': 'Louisiana','year_founded': 2002},
 {'id': 1610612741,'full_name': 'Chicago Bulls','abbreviation': 'CHI','nickname': 'Bulls','city': 'Chicago','state': 'Illinois','year_founded': 1966},
 {'id': 1610612742,'full_name': 'Dallas Mavericks','abbreviation': 'DAL','nickname': 'Mavericks','city': 'Dallas','state': 'Texas','year_founded': 1980}]

In [14]:
def table (list_of_dict):
    """
    this function helps convert list of 
    dictionaries e.g.[{'a':'b'},{'c':'d'},{'e':'f'}]
    to a data frame in pandas
    """
    final_dict={}                   #this dictionary will be used as foundation of DataFrame
    for dictionary in list_of_dict: #iterate on dictionaries
        for key, value in dictionary.items(): #interate on keys and values
            if not key in final_dict:         
                final_dict[key]=[]            #it prevent duplication of columns
                final_dict[key].append(value) #adds new values to columns
            else:
                final_dict[key].append(value)
    final=pd.DataFrame(final_dict)
    return final

In [15]:
table(NBA_teams)

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
5,1610612742,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980